@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Popping', sans-serif;
  }


  /* tag */

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color:rgb(0, 0, 0);
  
  }

  span {
    font-size: .9rem;
    color: #757575;
  }

  h6 {
    font-size: 1.5rem;
    color:rgb(30, 30, 32);
  }

  /* nav */

nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 5Svw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.422);
    z-index: 999;
}

nav img {
    width: 350px;
    cursor: pointer;
  
}

nav .navigation {
    display: flex;
}

#menu-open {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}


nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 40px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 400;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color:blue;
    
}

/*home*/

#home {
    background-image: linear-gradient(rgba(22, 26, 250, 0.3),rgba(95, 97, 107, 0.7)),url("111.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn{
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

#home a.yellow {
    color: #fff;
    background: #FDC938;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

/* features */

#features {
    padding: 2vw 10vw 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-top: 20px;
}

#features .fea-box {
    background: #F9F9FF;
    text-align: center;
}

#features .fea-box i {
    font-size: 6rem;
    color: black;
}

#features .fea-box h3 {
    font-size: 4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

/* course */

#couses {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#couses .row .deatils {
    padding: 15px 15px 0 15px;
}

#couses .row .deatils i {
    color: #FFDF00;
    font-size: 1rem;
}

#couses .row .cost 
{
   background:linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
   background-size: 400%;
   font-size: 20px;
   font-family: sans-serif;
   letter-spacing: 1px;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   animation: animate 10s linear infinite;
   font-weight: bold;
}
@keyframes animate{
    0%{
        background-position:0%;
    }
    100%{
        background-position:400%;
    }
}
#couses img{
transition: all  1.1s;
cursor: pointer;
border-radius: 7%;
border-top: red solid 3px;
border-right: green solid 2px;
border-bottom: blue solid 2px;
border-left: #FDC938 solid 2px;
}
#couses img:hover{
    transform: scale(1.2);
}
/*Registration*/

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(99, 112, 168, 0.5)),url("re.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder {
    color: #fff;
}

#registration .reminder h1 {
    color: #fff;
}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .data {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid cornflowerblue;
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid cornflowerblue;
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form .btn{
    margin-top: 20px;
}

#registration .form a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background: #2011e7;
    transition: 0.3s ease;
}

#registration .form a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}


/*footer*/


footer {
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241,240, 245);
    font-weight: 600;
    padding-bottom: 25px;
}

footer li {
   list-style: none;
   color: #7b838a;
   padding: 10px 10px;
   font-size: 20px;
   cursor: pointer; 
   transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241,240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 300px;
    padding: 10px 15px;
    background: #334F6c;
    border: none;
    outline: none;
    color: #fff;
    border: 1px solid cornflowerblue;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

footer .subscribe a.yellow {
    color: #2c2c2c;
    background: #FDC938;
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p
{
    color: #fff;
    font-weight: 900;
}


footer .copyright .pro-links {
    margin-top: 0px;
}
footer .copyright .pro-links i {
    padding: 13px 14px;
    border: 1px solid cornflowerblue;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #263a50;
}
footer .copyright .pro-links i:hover {
    background-color: #FDC93B;
    color: #2c2c2c;
}

/* About */

#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("images/back1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
    width: 60%;
    padding-right: 60px;
}

#about-container .about-img  img {
    width: 100%;
}

#about-container .about-text {
    width: 40%;
}

#about-container .about-text h2 {
    color: #293038;
    padding-bottom: 15px;
}

#about-container .about-text p {
    color: #696F7A;
    font-weight: 300;
}

#about-container .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
    width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
    font-size: 16px;
    color: #293038;
}

#trust {
    text-align: center;
    padding: 8vw;
}

#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trust .trust-img img {
    width: 90px;
    height: auto;
}

/* Blog */

#blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

#blog-container .blogs {
    width: 60%;
}

#blog-container .blogs img {
    width: 100%;
    border-radius: 19px;
}

#blog-container .blogs .post {
    padding-bottom: 60px;
}

#blog-container .blogs .post h3 {
    color: #29303B;
    padding: 15px 0 10px 0;
}

#blog-container .blogs .post p {
    color: #757373;
    padding-bottom:  20px; 
}

#blog-container .blogs .post a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21, 21, 100);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

#blog-container .cate {
    width: 30%;
}

#blog-container .cate h2 {
    padding-bottom: 7px;
}

#blog-container .cate a {
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
}

#blog-container .blogpost {
    width: 60%;
    margin: 0 auto;
}

#blog-container .blogpost p {
    text-align: justify;
    padding-bottom: 60px !important;
}

/* course_inner */

#course-inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8vw;
}

#course-inner h3 {
    padding: 35px 0 25px 0;
    color: #29303B;
}

#course-inner p {
    color: #64626e;
}

#course-inner hr {
    height: 1px;
    background: rgba(236, 226, 229, 0.5);
    margin-top: 40px;
}

#course-inner .overview {
    width: 70%;
}

#course-inner .overview .course-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

#course-inner .overview .course-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#course-inner .overview .course-head .c-name {
    width: 70%;
}

#course-inner .overview .course-head .c-name h2 {
    color: #29303B;
}

#course-inner .overview .course-head .c-name .star {
    margin: 6px 0;
} 

#course-inner .overview .course-head .c-name .star i {
    color: #FDC93D;
    font-size: 0.9rem;
}

#course-inner .overview .course-head .c-name p {
    font-size: 15px;
}

#course-inner .overview .course-head span {
    padding: 16px 22px;
    border-radius: 5px;
    color: #5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88, 56, 252, 0.1);
}

#course-inner .learn p {
    font-size: 15px;
    margin-right: 20px;
}

#course-inner .learn p i {
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}

#course-inner .tutor {
    display: flex;
}

#course-inner .tutor img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

#course-inner .tutor h5 {
    font-size: 15px;
}

#course-inner .enroll {
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#course-inner .enroll h3 {
    padding-bottom: 10px;
}

#course-inner .enroll p {
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}

#course-inner .enroll p i {
    color: #654ce4;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

#course-inner .enroll .enroll-btn {
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
}

#course-inner .enroll .enroll-btn a {
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: rgb(50, 50, 136);
}

/* contact */

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 350px;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div i {
    margin-right: 8px; 
}

#contact .form {
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col input, 
#contact .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}  

#contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21,21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

#map {
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 769px) {
    nav {
        padding: 27px 15px;
    }
    nav img {
        width: 200px;
    }
    #menu-open {
     display: initial;
    }
    
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 0;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: biur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active {
        right: 0;

    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;

    }

    #home p {
        width: 90%;
    }

    #features {
        padding: 8vw 4vw 0 4vw;
        text-align: center;
    }

    #registration {
        margin-top: 5vw;
        padding: 6vw 4vw 6vw 4vw;
}

    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
}

    footer .copyright .pro-links {
       margin-top: 15px;
}

}

